# Dependencies
node_modules/

# Build outputs
backend/dist/
frontend/.next/
frontend/out/

# Environment variables
.env
.env.local
.env.*.local
backend/.env
frontend/.env
frontend/.env.local
frontend/.env.production
postman

# TypeScript cache
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Misc
*.pem
.vercel
